<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
        <!--{{pageTitle}} premmenna-->
    </head>

    <body>

        <h1>WELCOME TO MAIN PAGE</h1>

<div>Day: {{screamIt day}}, Month: {{month}}, Year: {{getCurrentYear}}</div>

 {{>footer}}
    </body>
</html>